{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}Corvinianum - Termine{% else %}Welcome to CalList{% endif %}
{% endblock %}


{% block styles %}
{{super()}}
<style type="text/css">
    $enable-shadows: True;

</style>
<style type="text/css">
    /* this enables colored prints in firefox. set "print.print_bgcolor" to "true" in about:config */
    @media print {
        .table td,
        .table th { 
            background-color: transparent !important;
        }
        /* does not seem to do anything */
        @page {
            size: a4 !important;
        }
        /* original value: 992px - fits to a3-pages. Both settings are necessary */
        body {
            min-width: 650px !important;
        }
        .container {
            min-width: 650px !important;
        }
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
