{% extends "base.html" %}

{% block content %}
   
	<div class="container" style="max-width: 700px">
		<div class="card">
			<div class="card-body center mx-auto h4 my-1">Termine Corvinianum  (<a href="#" data-toggle="modal" data-target="#abbrmodal">Abkürzungen</a>)</div>
		</div>
		<table class="table table-sm" small">		
		{% for d in ed %}
			{% if ed[d][0] or ed[d][1] or ed[d][2].show == 1 %} <!-- or d.weekday() == 0 %}-->
				<tbody>
<!--					<tr class={% if d.weekday() == 0 %}"table-success"{% elif d.weekday() == 3 %}"table-info"{% else %}"table-light"{% endif %}>  -->
<!--					<tr class={% if d.weekday() == 0 %}"table-success"{% elif ed[d][2] %}"table-info"{% else %}"table-light"{% endif %}>  -->
					<tr class= "{{ ed[d][2].hclass }}" >  
						<td scope="row" colspan=2 >
<!--                            <b>{{ d.strftime("%d.%m.%Y") }}&nbsp{{ d.strftime("%A") }}{% if d.weekday() == 3 %}&nbsp&nbsp-&nbsp&nbspKonferenztag{% endif %}</b> -->
<!--                            <b>{{ d.strftime("%d.%m.%Y") }}&nbsp{{ d.strftime("%A") }}{% if ed[d][2] %}&nbsp&nbsp-&nbsp&nbspKonferenztag{% endif %}</b> -->
                            <b>{{ d.strftime("%d.%m.%Y") }}&nbsp{{ d.strftime("%A") }} {{ ed[d][2].title }} </b>
                        </td>
<!--						<td scope="row" colspan=2>
                            <b>{{ d.strftime("%d.%m.%Y") }}&nbsp{{ d.strftime("%A") }}{% if d.weekday() == 3 %}&nbsp&nbsp-&nbsp&nbspKonferenztag{% endif %}</b>
                        </td> --> 
					</tr>
					<!-- full day events -->
					{% if ed[d][1] %}
						{% for e in ed[d][1] %}
							<tr>
								<td colspan="2" class="{{ e.category }}">
									{% if e.STATUS == 'CANCELLED' %} <strike> {% endif %}
										{{ e.summary_ext(d) }}
										<small text-mute>{{ e.add_description() }}</small>
									{% if e.STATUS == 'CANCELLED' %} </strike> {% endif %}
								</td>
							</tr>
						{% endfor %}
					{% endif %}
			
					<!-- other events -->
					{% if ed[d][0] %}
						{% for e in ed[d][0] %}
							<tr>
<!--								<td><small>{{ e.starttimestr }}&nbsp;-&nbsp;{{ e.endtimestr }}</small></td> -->
								<td><small>{{ e.starttimestr }}</small></td>
								<td class="{{ e.category }}">
									{% if e.STATUS == 'CANCELLED' %} <strike> {% endif %}
										{{ e.summary_ext(d) }}
										<small text-mute>{{ e.add_description() }}</small>
									{% if e.STATUS == 'CANCELLED' %} </strike> {% endif %}
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			{% endif %}
		{% endfor %}
		</table>
	</div>


	<div class="modal fade" id="abbrmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Abkürzungen</h5>
                </div>
                <div class="modal-body">
					<table class="table table-sm" small">
						<tr>
							<td>BO</td>
							<td>Berufsorientierung</td>
						</tr>
						<tr>
							<td>CC</td>
							<td>Schulorchester "Capella Corviniensis"</td>
						</tr>
						<tr>
							<td>DB</td>
							<td>Dienstbesprechung</td>
						</tr>
						<tr>
							<td>DELE</td>
							<td>Spanisch-Sprachdiplom</td>
						</tr>
						<tr>
							<td>DELF</td>
							<td>Französisch-Sprachdiplom</td>
						</tr>
						<tr>
							<td>FK</td>
							<td>Fachkonferenz</td>
						</tr>
						<tr>
							<td>GK</td>
							<td>Gesamtkonferenz</td>
						</tr>
						<tr>
							<td>NLSchB</td>
							<td>Niedersächsische Landesschulbehörde</td>
						</tr>
						<tr>
							<td>NST</td>
							<td>Nachschreibtermin</td>
						</tr>
						<tr>
							<td>PU</td>
							<td>Prüfungsunterricht Referendar*in</td>
						</tr>
						<tr>
							<td>Q1</td>
							<td>Jahrgang 12</td>
						</tr>
						<tr>
							<td>Q2</td>
							<td>Jahrgang 13</td>
						</tr>
						<tr>
							<td>SHS</td>
							<td>Schüler helfen Schülern - Nachhilfe durch Schüler</td>
						</tr>
						<tr>
							<td>SV</td>
							<td>Schülervertretung am Corvi</td>
						</tr>
						<tr>
							<td>ZA</td>
							<td>Zentralabitur</td>
						</tr>
					</table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Verlassen</button>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
